Flask
numpy
pandas
prophet
NeuralProphet
pmdarima
pickle-mixin
jsonschema
joblib
matplotlib
seaborn
keras
scikit-learn
statsmodels
scikit-learn
seaborn
python-dateutil
Flask-Cors
gunicorn
