Flask==2.2.3
pandas==1.4.4
numpy==1.24.0
prophet
neuralprophet
pmdarima
pickle-mixin
jsonschema
joblib
matplotlib
seaborn
tensorflow==2.12.0
keras
scikit-learn
statsmodels
python-dateutil
Flask-Cors
gunicorn
